container {
    max-width: 300;
    layout: vertical;
}

button {
    background: #333;
    fill-width: true;
    height: 30;
    padding: 5;
}

button.highlight {
    background: #a33;
}

button text {
    align: middle middle;
}

button:hover {
    background: #444;
}

button:active {
    background: #222;
}

input {
    background-color: #fff;
    text-color: #000;
    width: 300;
}
